
h1{
    font-size:250%;
    color: #f8f8f8;
    background-color:black ;
    margin-right: 80%;
    border-radius: 600px;
    padding: 16px 40px;
}

p{
    font-size: 120%;
    color: black;
    border-radius: 500px;
    margin-left: 40%;
    margin-right: 40%;
    padding: 16px 40px;
}
